@page
@model pandemie.Pages.Vaccinuri.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Vaccin</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Vaccin.Nume)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Vaccin.Nume)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Vaccin.Pret_achizitie)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Vaccin.Pret_achizitie)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Vaccin.Data_aprobare)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Vaccin.Data_aprobare)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Vaccin.Informatii)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Vaccin.Informatii)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Vaccin.ID" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
