@page "{id:int?}"
@model pandemie.Pages.Tari.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Tara[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tara[0].Cazuri)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tara[0].Morti)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.TaraData.Tari)
        {
            string selectedRow = "";
            if (item.ID == Model.TaraID)
            {
                selectedRow = "table-success";
            }
            <tr class="@selectedRow">

            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cazuri)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Morti)
            </td>
            <td>
                <a asp-page="./Index" asp-route-id="@item.ID">Select</a> |
                <a asp-page="./Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.ID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
@if (Model.TaraData.Producatori != null)
{
    <h3>Producatori cu sediul in tara selectata</h3>
    <table class="table">

        @foreach (var item in Model.TaraData.Tari)
        {
            string selectedRow = "";
            if (item.ID == Model.TaraID)
            {
                selectedRow = "table-success";
            }
            <tr class="@selectedRow">

                <td>
                    @{
                        foreach (var b in item.Producatori)
                        {

                            @b.Nume @: @b.Vaccin.Nume

                            <br />
                        }
                    }
                </td>
            </tr>
        }
    </table>
}