@page
@model pandemie.Pages.Achizitii.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Achizitie[0].Membru)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Achizitie[0].Vaccin)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Achizitie[0].Cantitate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Achizitie[0].Data_achizitie)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Achizitie) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Membru.NumeComplet)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Vaccin.Nume)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cantitate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Data_achizitie)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.ID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
